# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=routestorage
MYSQL_USER=rsuser
MYSQL_PASSWORD=

# Backend
DB_HOST=mysql
DB_PORT=3306
DB_USER=rsuser
DB_PASSWORD=
DB_NAME=routestorage
REDIS_HOST=redis
REDIS_PORT=6379
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8081/api/accounts/oauth/callback
CHUNK_SIZE_MB=256
FRONTEND_URL=http://localhost:3000

# Frontend
NUXT_PUBLIC_API_BASE=http://localhost:8081
